.inputdiv
{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    height: 60px;
    margin-top: 8px;

}
.input
{
   height: 40px;
   width: 70%;
   border-radius: 20px;
   margin: auto;
}

.subbtn
{
    float: right;
}
.addbtn
{
    background-color: #87C4FF;
    margin-top: 5px;
    border-color: #87C4FF;
    margin-bottom: 15px;
    margin-right: 20px;
    padding: 15px;
}
.addbtn:hover{
    background-color: #E0F4FF !important;
    color:black !important;
    border-color: #E0F4FF !important;

}
.error
{
    color: red;
    margin:auto;
}


